[submodule "bilberry-hugo-theme"]
	path = bilberry-hugo-theme
	url = https://github.com/Lednerb/bilberry-hugo-theme
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
